* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
#navbar {
    width: 100%;
    height: 10vh;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 20%;
    height: 10vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo h1{
    color: white;
}
#menu {
    width: 50%;
    height: 10vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu a{
    text-decoration: none;
    color: white;
}
/*principal*/
#principal {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#div-du-haut {
    width: 70%;
    height: 70px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div-du-haut a{
    text-decoration: none;
    color: white;
}
#central {
    width: 100%;
    height: 700px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#div-gauche {
    width: 250px;
    height: 500px;
    background-color: brown;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#div-milieu {
    width: 250px;
    height: 500px;
    background-color: rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#div-droite {
    width: 250px;
    height: 500px;
    background-color: rgb(121, 255, 43);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.articles {
    width: 200px;
    height: 230px;

    position: relative;
}
.articles img{
    width: 200px;
    height: 230px;
}
.prix {
    width: 100%;
    height: 30px;
    background-color: black;

    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-between;
}
.prix p{
    color:white;
}