@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../../img/venom.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'New Tegomin', serif;
}
/* navbar */
#navbar {
    width: 100%;
    height: 10vh;
    background-color: #090923;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 20%;
    height: 10vh;
    
    text-align: center;
    padding: 11px;

    font-family: 'New Tegomin', serif;
}
#logo a {
    text-decoration: none;
    color: white;
}
#menu {
    width: 30%;
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'New Tegomin', serif;
}
#menu a {
    text-decoration: none;
    color: white;
}
#perpaquiz {
    background-color: rgba(51, 44, 71, 0.77);
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#perpaquiz h1{
    color: white;
}
#perpaquiz p{
    color: white;
}
/* principal */
#quiz {
    width: 80%;
    height: 1655px;
}

#questions {
    width: 100%;
    height: 1630px;
    background-color: rgba(51, 44, 71, 0.77);

    margin-top: 40px;
}
#question1 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest1 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question2 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest2 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question3 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest3 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question4 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest4 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question5 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest5 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question6 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest6 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question7 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest7 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question8 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest8 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question9 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest9 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#question10 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#quest10 {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.repond {
    display: flex;
    gap: 20px;
}
#footer {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#button {
    display: flex;
   
}
#buttonsubmit {
    background-color: rgba(51, 44, 71, 0.77);
    padding: 12px;
    border-radius: 50px;
    color: white;
    margin-right: 300px;
}
#buttonsubmit input{
    
    color: white;
}
#score {
    width: 30%;
    height: 50px;
    
    background-color: rgba(51, 44, 71, 0.77);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#result {
    color: white;
}

@media (max-width: 320px) {
    body {
        background-image: url(../../img/venom.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 35% 85%;
    }
    /* Navbar responsiv*/
    #navbar {
        width: 100%;
        height: 20px;
    }
    #logo {
        font-size: 10px;
        margin-top: 25px;
    }
    #menu {
        font-size: 10px;
        margin-top: 25px;
    }
    /* menu responsiv*/
   
}
