@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("./img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
/* Navbar*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: #ffbd9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: black;
}
.menu li a {
    color: black;
}
/* div principal*/
#principal {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

/* A propos*/
#apropos {
    width: 80%;
    height: 300px;
    
    display: flex;

    margin-top: 120px;
}
#photo img{
    width: 250px;
    height: 313px;
}
#text {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#nom {
    width: 80%;
    height: 20px;

    text-align: center;
}
#integratriceweb {
    width: 80%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
#lorem {
    width: 80%;
    height: 170px;

    text-align: center;
}
#lorem p{
    font-size: 25px;
}
/* Competences*/
#competences {
    width: 60%;
    height: 270px;
    display: flex;
    flex-direction: column;
}
#comp {
    width: 100%;
    height: 70px;
    
    text-align: center;
}
#comp h1  {
    margin-top: 30px;
}
#htmlcssjs {
    display: flex;
}
#img img{
    width: 200px;
    height: 200px;
}
#img00 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#imghtml {
    width: 100px;
    height: 200px;

}
#imgcss {
    width: 130px;
    height: 140px;
}
#imgjs {
    width: 100px;
    height: 125px;
    object-fit: cover;
}
/* Formation*/
#formations  {
    width: 93%;
    height: 500px;

    color: black;

    display: flex;
    flex-direction: column;
}
#formations ul {
    width: 500px;
}
#form {
    width: 100%;
    height: 100px;
    text-align: center;
}
#titreform {
    margin-bottom: 40px;
}
#mation {
    width: 100%;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#text1 {
    
    margin-bottom: 30px;
}
#text2 {
    
    margin-bottom: 30px;
}
#text3 {
    
    margin-bottom: 30px;
}
#text4 {
    
    margin-bottom: 30px;
}
#text5 {
    
    margin-bottom: 30px;
}
/* Projets*/
#mesprojets{
    width: 80%;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro {
    width: 100%;
    height: 20px;
    text-align: center;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 340px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 40%;
    height: 230px;
}
#a1{
    align-items: center;
    justify-content: center;
    display: flex;
}
#a2{
    align-items: center;
    justify-content: center;
    display: flex;
}
#a3{
    align-items: center;
    justify-content: center;
    display: flex;
}
#a4{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* CSS for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}
.manual-btn:hover {
    background: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
/* Contact*/
#contacter {
    width: 100%;
    height: 900px;
    
    display: flex;

    margin-top: 30px;
}
#cont {
    width: 100%;
    height: 20px;
    text-align: center;
}

.contact-content {
    display: flex;
    width: 100%;
    height: 400px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content  .left p{
    text-align: justify;

}
.contact .contact-content  .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px ;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #594f5a;
    font-family: 'Akaya Telivigala', cursive;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #562a41;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 70%;
    width: 105%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 10px;

    font-family: 'Work Sans', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    
    background: #ffbd9b;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Work Sans', sans-serif;
}
.contact .right form .button button:hover{
    color:#c3c1c4;
    background: none;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .contact-content{
    margin-left: 30px;
  }
  section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    
    font-family: 'Work Sans', sans-serif;
  }

.maw-width {
    width: 100%;
    height: 400px;
}

/* footer*/
footer{
    text-align: center;
    margin-top: 30px;
    color: black;
}
footer span a{
    color:#ff608e;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* Navbar responsiv*/
@media (min-width: 500px) {
    .menu {
        display: flex;
        justify-content: right;
        gap: 20px;
        list-style: none;
    }

    .btn-menu {
        display: none;
    }
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #c3c1c4;
}

@media (max-width: 499px) {
    .menu {
        position: fixed;
        top: 60px;
        right: -1000px;
        background-color: rgb(5 56 67);
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 300px;
        transition: all 0.3s;
    }

    .menu.open {
        top: 60px;
        right: 250px;
    }

    .menu a {
        font-size: 1.5em;
    }

    .btn-menu {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        position: relative;
    }

    .btn-menu span {
        display: block;
        width: 100%;
        height: 5px;
        background-color: black;
        opacity: 1;
        transition: all 0.3s;
    }

    .btn-menu.open .span-1 {
        transform: rotate(45deg);
        position: absolute;
        top: 22px;
    }

    .btn-menu.open .span-2 {
        opacity: 0;
    }

    .btn-menu.open .span-3 {
        transform: rotate(-45deg);
        position: absolute;
        top: 22px;
    }
}
@media (max-width: 480px) {
    #apropos {
        flex-direction: column;
        width: 55%;
        height: 704px;
    }
    #photo img{
        width: 115px;
        height: 150px;
        margin-top: 20px;
        margin-left: 20px;
    }
    #nom {
        margin-bottom: 70px;
    }
    #competences {
        margin-bottom: 120px;
    }
    #titre {
        margin-top: 240px;
    }
    #titreform {
        margin-bottom: 30px;
        margin-top: 103px;
    }
    #titreforma {
        margin-top: 87px;
    }
    #htmlcssjs {
        margin-top: 111px;
    }
    #img00 {
      
        flex-direction: column;
    }
    #imghtml {
        width: 80px;
        height: 80px;
        margin-top: 280px;
    }
    #imgcss {
        width: 80px;
        height: 80px;
    }
    #imgjs { 
        width: 80px;
        height: 80px;
    }
    .title {
        margin-top: 75px;
    }
    #mesprojets {
        margin-top: 444px;
    }
    #titrepro {
        margin-top: 177px;
    }
    .slide img {
        width: 23%;
        height: 161px;
    }
    #slidefirst a{
        margin-top: 216px;
    }
    .contact .contact-content{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contact .contact-content .text {
        margin-bottom: 27px;
        margin-top: 30px;
    }
    .contact-content {
        margin-left: -70px; 
    }
    .maw-width {
        width: 100%;
        height: 891px;
    }
    #linkedin {
        margin-top: 40px;
    }
    .contact .right form .field input, .contact .right form .textarea textarea {
        height: 100%;
        width: 200%;
    }
    .fields .field .email input {
        margin-left: 38px;
    }
    footer {
        margin-top: 334px;
    }
}

@media print {
    
    #title {
        display: none;
    }
    .right {
        display: none;
    }
    .menu {
        display: none;
    }
    #apropos  {
        margin-bottom: 300px;
    }
    #competences {
        margin-bottom: 350px;
    }
    #formations {
        margin-bottom: -300px;
    }
    #mesprojets {
        margin-top: 400px;
    }
    .text{
        display:none;
    }
    .title {
        display:none;
    }
    #linke {
        display: none;
    }
    i {
        display:none;
    }
    #footer {
        display:none;
    }
}