@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/ciel-étoilé.jpg);
}
/* navbar */
#navbar {
    width: 100%;
    height: 10vh;
    background-color: #090923;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 20%;
    height: 10vh;
    
    
    text-align: center;
    padding: 11px;
}
#logo a {
    text-decoration: none;
    color: white;
    font-family: 'Rye', cursive;
}
#menu {
    width: 30%;
    height: 10vh;
    

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu a {
    text-decoration: none;
    color: white;
}
#principal {
    width: 100%;
    height: 100vh;
}
#titre {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    color:white;
}
#option {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}
#information {
    width: 25%;
    height: 400px;
    background-color: #090923;
    color: white;
}
#information h2 {
    text-align: center;
}
.info {
    padding: 20px;
}
#info1 {
    width: 80%;
    height: 20px;
    background-color: white;
    color: black;
}
#info2 {
    width: 80%;
    height: 20px;
    background-color: white;
    color: black;
}
#info3 {
    width: 80%;
    height: 20px;
    background-color: white;
    color: black;
}
#info4 {
    width: 80%;
    height: 20px;
    background-color: white;
    color: black;
}
#tesdonnees {
    width: 25%;
    height: 400px;
    background-color: #090923;
    color: white;
}
#tesdonnees h2 {
    text-align: center;
}
.modifier a {
    text-decoration: none;
    color: white;
}
.modifier p {
    padding: 30px;
}

#autres {
    width: 25%;
    height: 400px;
    background-color: #090923;
    color: white;
}
#autres h2 {
    text-align: center;
}