@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/ciel-étoilé.jpg);
    font-family: 'New Tegomin', serif;
}
/* navbar */
#navbar {
    width: 100%;
    height: 10vh;
    background-color: #090923;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 20%;
    height: 10vh;
    
    
    text-align: center;
    padding: 11px;
}
#logo a {
    text-decoration: none;
    color: white;
    font-family: 'New Tegomin', serif;
}
#menu {
    width: 30%;
    height: 10vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'New Tegomin', serif;
}
#menu a {
    text-decoration: none;
    color: white;
}

/* central du quiz */

#central {
    width: 100%;
    height: 100vh;


    display: flex;
    
    justify-content: space-around;
}

#quiz1 {
    width: 50%;
    height: 735px;


    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}
#lareinedesniege {
    width: 60%;
    height: 200px;
    position: relative;
    
}
#lareinedesniege img {
    width: 100%;
    height: 200px;

}
#titre1 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre1 p{
    padding: 10px;
}
#commencez1 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez1 a {

    text-decoration: none;
    color:white;
    
}

#lessimpson{
    width: 60%;
    height: 200px;
    position: relative;
}
#lessimpson img {
    width: 100%;
    height: 200px;
}
#titre2 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre2 p{
    padding: 10px;
}
#commencez2 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez2 a {

    text-decoration: none;
    color:white;
}

#wizard101 {
    width: 60%;
    height: 200px;
    position: relative;
}
#wizard101 img {
    width: 100%;
    height: 200px;
}
#titre3 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre3 p{
    padding: 10px;
}
#commencez3 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez3 a {
    text-decoration: none;
    color:white;
}
#quiz2 {
    width: 50%;
    height: 735px;


    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}
#viceversa {
    width: 60%;
    height: 200px;
    position: relative;

}
#viceversa img {
    width: 100%;
    height: 200px;
}
#titre4 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre4 p{
    padding: 10px;
}
#commencez4 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez4 a {
    text-decoration: none;
    color:white;
}
#bienvenuechezlesloud {
    width: 60%;
    height: 200px;
    position: relative;

}
#bienvenuechezlesloud img {
    width: 100%;
    height: 200px;
}
#titre5 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre5 p{
    padding: 10px;
}
#commencez5 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez5 a {
    text-decoration: none;
    color:white;
}
#rebelle{
    width: 60%;
    height: 200px;
    position: relative;

}
#rebelle img {
    width: 100%;
    height: 200px;
}
#titre6 {
    position: absolute;
    top: 0;

    border: 1px solid black;
    color: white;
    background-color: rgba(51, 44, 71, 0.77);
}
#titre6 p{
    padding: 10px;
}
#commencez6 {
    width: 80%;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 44, 71, 0.77);
}
#commencez6 a {
    text-decoration: none;
    color:white;
}
@media (max-width: 320px) {
    /* Navbar responsiv*/
    #navbar {
        width: 100%;
        height: 20px;
    }
    #logo {
        font-size: 10px;
        margin-top: 25px;
    }
    #menu {
        font-size: 10px;
        margin-top: 25px;
    }
    /* menu responsiv*/
    #central {
        flex-direction: column;
        margin-top: 200px;
    }
    #quiz1 {
        width: 50%;
        height: 500px;
    }
    #quiz2 {
        width: 50%;
        height: 500px;
    }
    /*harry potter*/
    #harrypotter {
        position: relative;
    }
    #harrypotter img {
        width: 265px;
        height: 175px;
    }
    #titre1 {
        position: absolute;
        width: 190%;
        height: 40px;
    }
    #commencez1 {
        width: 190%;
        height: 40px;
        position: absolute;
        right: -127px;
        top: 135px;
    }
    /* les simpson */
    #lessimpson img {
        width: 265px;
        height: 175px;
    }
    #titre2 {
        width: 190%;
        height: 40px;
    }
    #commencez2 {
        width: 190%;
        height: 40px;
        position: absolute;
        right: -127px;
        top: 135px;
    }
    /* wizard101 */
    #wizard101 img {
        width: 265px;
        height: 175px;
    }
    #titre3 {
        width: 220%;
        height: 40px;
    }
    #commencez3 {
        width: 190%;
        height: 40px;
        position: absolute;
        right: -127px;
        top: 135px;
    }
    /* vice versa */
    #viceversa img {
        width: 265px;
        height: 175px;
    }
    #titre4 {
        width: 175%;
        height: 40px;
    }
    #commencez4 {
        width: 190%;
        height: 40px;
        position: absolute;
        right: -127px;
        top: 135px;
    }
}
