@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
}
body {
    font-family: 'Neucha', cursive;
    background-color: rgb(255, 255, 255);
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 0, 149);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}


@media (min-width: 500px) {
    .menu {
        display: flex;
        justify-content: right;
        gap: 20px;
        list-style: none;
    }

    .btn-menu {
        display: none;
    }
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #ff0077;
}

@media (max-width: 499px) {
    .menu {
        position: fixed;
        top: 60px;
        right: -1000px;
        background-color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 300px;
        transition: all 0.3s;
    }

    .menu.open {
        top: 60px;
        right: 0px;
    }

    .menu a {
        font-size: 1.5em;
    }

    .btn-menu {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        position: relative;
    }

    .btn-menu span {
        display: block;
        width: 100%;
        height: 5px;
        background-color: black;
        opacity: 1;
        transition: all 0.3s;
    }

    .btn-menu.open .span-1 {
        transform: rotate(45deg);
        position: absolute;
        top: 22px;
    }

    .btn-menu.open .span-2 {
        opacity: 0;
    }

    .btn-menu.open .span-3 {
        transform: rotate(-45deg);
        position: absolute;
        top: 22px;
    }
}