@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/*navbar stytling */
.navbar{

  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family:'Ubuntu',sans-serif ;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color:#fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .menu li{
  list-style:none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff ;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: crimson;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}

#central {
    background-color: black;
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#central2 {
    background-color: white;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#div-du-haut {
    
    width: 30%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-du-haut img {
  width: 35%;
}
#div-du-bas {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 55vh;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*menu btn styling */
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}