* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./img/fond3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* navbar */
#navbar {
    width: 100%;
    height: 10vh;
    background-color: #f9c9b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 20%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#logo h1{
    color: black;
}
#menu {
    width: 50%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu a{
    text-decoration: none;
    color: black;
}
/*principal*/
#principal {
    width: 100%;
    height: 570px;
}
#persentation {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#titre {
    width: 100%;
    height: 60px;

    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
#text {
    width: 85%;
    text-align: center;
    color: black;
}
/*decouverte*/
#decourverte {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#decouvre1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titre1 h2 {
    width: 100%;
    height: 70px;

    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
#cupcake a{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cupcake img{
    width: 255px;
    height: 160px;
}
.cliquez {
    width: 255px;
    height: 40px;

    background-color: #f9c9b2;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cliquez p{
    color:black;
}
#decouvre2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titre2 h2 {
    width: 100%;
    height: 70px;

    color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#coockie a{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#coockie img{
    width: 255px;
    height: 160px;
}
#titre3 h2 {
    width: 100%;
    height: 70px;
    
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
#glace a{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#glace img{
    width: 255px;
    height: 160px;
}
#decouvre3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer {
    width: 100%;
    height: 250px;
    background-color: #f9c9b2;
    
}
#foot {
    width: 100%;
    height: 251px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
#adresse {
    width: 20%;
    height: 100px;
}
#quisommenous{
    width: 15%;
    height: 100px;
}
#recette {
    width: 15%;
    height: 100px;
}
#savoirplus {
    width: 15%;
    height: 100px;
}
#adressem {
    width: 20%;
    height: 100px;
}
#offre {
    width: 100%;
    height: 100%;

    display: flex;
}
#adressemail {
    width: 400px;
    height: 35px;

    background-color: white;

    position: relative;
}
#ok {
    width: 35px;
    height: 35px;

    background-color: white;
    color:black;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0px;

    margin-right: 30px;
}
#derriere {
    width: 100%;
    height: 130px;
    background-color: #f9c9b2;
}
#ter {
    width: 75%;
    height: 130px;

    background-color: #f9c9b2;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nosavantages {
    width: 30%;
    height: 65px;
}
#nosavantages p {
    color: black;
}
#reseausociaux {
    width: 30%;
    height: 65px;
}
#reseausociaux p{
    color:black;
}