@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Akaya Telivigala', cursive;
    
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #053843;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
}



@media (min-width: 500px) {
    .menu {
        display: flex;
        justify-content: right;
        gap: 20px;
        list-style: none;
    }

    .btn-menu {
        display: none;
    }
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #ff0077;
}

@media (max-width: 499px) {
    .menu {
        position: fixed;
        top: 60px;
        right: -1000px;
        background-color: rgb(5 56 67);
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 300px;
        transition: all 0.3s;
    }

    .menu.open {
        top: 60px;
        right: 0px;
    }

    .menu a {
        font-size: 1.5em;
    }

    .btn-menu {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        position: relative;
    }

    .btn-menu span {
        display: block;
        width: 100%;
        height: 5px;
        background-color: black;
        opacity: 1;
        transition: all 0.3s;
    }

    .btn-menu.open .span-1 {
        transform: rotate(45deg);
        position: absolute;
        top: 22px;
    }

    .btn-menu.open .span-2 {
        opacity: 0;
    }

    .btn-menu.open .span-3 {
        transform: rotate(-45deg);
        position: absolute;
        top: 22px;
    }
}
#principal {
    width: 100%;
    height: 3064px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: url("img/solid-color-wallpaper-21955-22508-hd-wallpapers.jpg")no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-height: 500px;
    font-family: 'Akaya Telivigala', cursive;
    }

#presentation {
    width: 70%;
    height: 15vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#nom {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    text-align: center;
    line-height: 100px;
    color: white;

    font-family: 'Akaya Telivigala', cursive;
}
#nom1 {
    font-size: 2.5em;
}
#integrateur {
    width: 100%;
    height: 10vh;

    text-align: center;
    line-height: 50px;
    color: white;
    font-family: 'Akaya Telivigala', cursive;
}
#web {
    font-size: 1.5em;
    margin-top: 20px;
}
#reseau {
    width: 20%;
    height: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#apropos {
    width: 70%;
    height: 390px;


    justify-content: space-around;
    font-family: 'Akaya Telivigala', cursive;

}
#apropos1 {
    width: 100%;
    height: 70px;

}
#apropos1 h1 {
    color: white;
    font-size: 35px;
    text-align: center;

}
#bloc {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
#img {
    width: 200px;
    height: 200px;
    background-color: #dfb6d4;
}
#text1 {
    width: 70%;
    height: 200px;
    text-align: center;
    line-height: 50px;
}
#competences{
    width: 70%;
    height: 150px;
    font-family: 'Akaya Telivigala', cursive;
    margin-bottom: 80px;
}
#competences1 {
    width: 100%;
    height: 50px;
    text-align: center;

}
#comptences1 h1 {
    color: white;
    font-size: 20px;
    text-align: center;

}
#img img{
    width: 200px;
    height: 200px;
}
#img00 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:space-around;
}
#imghtml {
    width: 200px;
    height: 200px;

}
#imgcss {
    width: 200px;
    height: 200px;

}
#imgjs {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#titre0 {
    font-size: 35px;
    text-align: center;
}
#textformations {
    font-size: 47px;
    text-align: center;
}
#formations {
    width: 70%;
    height: 400px;

}
#foramtions1 {
    text-align: center;
}
.li {
    margin: 30px;
    list-style: none;
}
.center {
    text-align: center;
    font-size: 1.5em;
}
.centerp {
    text-align: center;
}
#mesprojets {
    width: 100%;
    height: 50px;
    display: flex;


}
.projet0 {
    width: 100%;
    height: 300px;

}
#img0 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 120px;
}
#img1 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 120px;
}
#img2 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 120px;
}
#img3 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 120px;
}
#img4 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 120px;
}
#img0 img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}
#img1 img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}
#img2 img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}
#img3 img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}
#img4 img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}
#projet {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 30px;
    margin: 40px
}
.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
    
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 70%;
    height: 500px;
   

}

/* CSS for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #0a89a9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}
.manual-btn:hover {
    background: #0a89a9;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/*CSS for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #0a89a9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #0a89a9;

}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #0a89a9;

}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #0a89a9;

}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #0a89a9;

}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #0a89a9!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #0a89a9!important;
}
.click {
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    
}
.click a{
    text-decoration: none;
    color:black;
}

.contact-content {
    display: flex;
    width: 100%;
    height: 400px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content  .left p{
    text-align: justify;

}
.contact .contact-content  .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px ;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #dfb6d4;
    font-family: 'Akaya Telivigala', cursive;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: white;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 85%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Akaya Telivigala', cursive;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    background: #053843;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Akaya Telivigala', cursive;
}
.contact .right form .button button:hover{
    color:#dfb6d4;
    background: none;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .contact-content{
    margin-left: 30px;
  }
  section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    
    font-family: 'Akaya Telivigala', cursive;
  }

.maw-width {
    width: 100%;
    height: 515px;

}
#linkedin {
    display: inline-block;
    border: 1px solid black;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.link {
    text-align: center;
}
footer{

    color: black;
}
footer span a{
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@page {
    
}